<app-navbar></app-navbar>
<nav aria-label="breadcrumb">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home" class="text-decoration-none">Inicio</a></li>
                    <li class="breadcrumb-item" aria-current="page">Pagina principal</li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<div class="carousel-container mx-3 my-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <h2>YoVoy Control</h2>
        <hr>
        <div class="carousel-inner">
            <!-- Slide 2 -->
            <div class="carousel-item active">
                <picture>
                    <source media="(max-width: 768px)" srcset="../../../assets/img/autobus.jpeg" width="388" height="388">
                    <source media="(max-width: 1024px)" srcset="../../../assets/img/autobus.jpeg" width="1250" height="500">
                    <img src="../../../assets/img/autobus.jpeg" class="d-block w-100" alt="Camión" width="1680" height="575">
                </picture>
                <div class="carousel-caption d-block">
                    <h5>¡MANTÉN TUS CAMIONES EN ÓPTIMAS CONDICIONES!</h5>
                    <p>Gestiona el mantenimiento y rendimiento de tu flota de camiones de manera eficiente con YoVoy Control.</p>
                    <a href="./reportes" class="btn btn-primary text-center">Ver más</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="../../../assets/img/autobus.jpeg" width="388" height="388">
                    <source media="(max-width: 1024px)" srcset="../../../assets/img/autobus.jpeg" width="1250" height="500">
                    <img src="../../../assets/img/autobus.jpeg" class="d-block w-100" alt="Recarga" width="1680" height="575">
                </picture>
                <div class="carousel-caption d-block">
                    <h5>¡FACILITA LA RECARGA DE TARJETAS!</h5>
                    <p>Recarga las tarjetas de tus camiones de manera rápida y sencilla con nuestro sistema integrado.</p>
                    <a href="#" class="btn btn-primary text-center">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Controles de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<hr>
<div class="container-fluid p-3" style="max-width: 90%; margin: 0 auto;">
    <div class="row">
        <div class="col-12">
            <h1>¡Bienvenido a YoVoy Control!</h1>
            <p>
                YoVoy Control es una plataforma diseñada para facilitar la gestión de flotas de camiones, mejorando la
                eficiencia, el seguimiento y el control de las operaciones diarias. Con nuestra solución, podrás
                realizar reportes detallados de los conductores, controlar el recargo de las tarjetas de los camiones y
                mantener un registro preciso de todas las actividades, todo desde un solo lugar.
            </p>
            <div class="content">
                <section class="section">
                    <h3>¿Qué puedes hacer en YoVoy Control?</h3>
                    <p><strong>Reportes de Conductores:</strong> Realiza reportes de manera rápida y sencilla para
                        registrar el desempeño, incidentes o cualquier información relevante de los conductores. Ya sea
                        para registrar un problema en la ruta o hacer un seguimiento de sus actividades diarias,
                        nuestros reportes son fáciles de llenar y completamente personalizables.</p>
                </section>

                <section class="section">
                    <h3>Recarga de Tarjetas de Camiones</h3>
                    <p>Mantén el control sobre las tarjetas de recarga de los camiones con un sistema integrado para
                        realizar y seguir los pagos. Evita contratiempos con la gestión de fondos y asegura que todos
                        los camiones estén listos para operar en cualquier momento. Puedes ver el saldo en tiempo real y
                        recibir notificaciones cuando se acerque al límite.</p>
                </section>

                <section class="section">
                    <h3>Seguridad y Transparencia</h3>
                    <p>En YoVoy Control, la seguridad de tus datos es nuestra prioridad. La plataforma está diseñada con
                        medidas de seguridad avanzadas para asegurar que toda la información se maneje de forma
                        confidencial y esté protegida contra accesos no autorizados. Además, nuestro sistema asegura
                        transparencia en todas las operaciones, permitiendo un monitoreo y control sin complicaciones.
                    </p>
                </section>

                <section class="section">
                    <h3>Interfaz Intuitiva y Fácil de Usar</h3>
                    <p>La plataforma está diseñada pensando en la simplicidad y facilidad de uso. No importa si eres un
                        usuario nuevo o tienes experiencia en la gestión de flotas, con YoVoy Control podrás acceder a
                        todas las funcionalidades de forma rápida y eficiente sin complicaciones.</p>
                </section>

                <section class="section">
                    <h2>¿Por qué elegir YoVoy Control?</h2>
                    <ul>
                        <li><strong>Eficiencia:</strong> Optimiza la gestión de tu flota de camiones y conductores,
                            ahorrando tiempo y recursos valiosos.</li>
                        <li><strong>Transparencia:</strong> Cada acción queda registrada y puede ser consultada en
                            cualquier momento, proporcionando claridad y confianza en todo el proceso.</li>
                        <li><strong>Accesibilidad:</strong> Accede a la plataforma desde cualquier lugar, en cualquier
                            momento, y en cualquier dispositivo. Solo necesitas una conexión a Internet.</li>
                        <li><strong>Control Total:</strong> Desde los reportes hasta la gestión de las tarjetas de
                            recarga, tienes control completo sobre tu flota y las operaciones diarias.</li>
                    </ul>
                </section>

                <section class="section">
                    <p><strong>¡Empieza ahora mismo con YoVoy Control y mejora la gestión de tu flota de camiones de
                            manera fácil y eficiente!</strong></p>
                </section>
            </div>
        </div>
    </div>
</div>


<hr>
<app-footer></app-footer>