<app-navbar></app-navbar>
<nav aria-label="breadcrumb">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home" class="text-decoration-none">Inicio</a></li>
                    <li class="breadcrumb-item" aria-current="page">Sobre Nosotros</li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Sobre Nosotros</h1>
    <hr>
    <img src="../../../assets/img/logo.png">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>¿Quiénes somos?</h3>
            <p>Somos una empresa dedicada a proporcionar soluciones innovadoras en el área de transporte y logística, con un enfoque en la optimización de flotas y la gestión eficiente de recursos. Desde nuestra fundación, hemos trabajado incansablemente para mejorar la experiencia de nuestros clientes, ofreciendo servicios de calidad con un equipo profesional altamente capacitado.</p>
        </div>
        <div class="col-md-6">
            <h3>Nuestros Valores</h3>
            <ul>
                <li><strong>Compromiso:</strong> Nos comprometemos con nuestros clientes y empleados a ofrecer soluciones efectivas y personalizadas.</li>
                <li><strong>Innovación:</strong> Estamos en constante búsqueda de nuevas tecnologías que nos permitan mejorar nuestros servicios.</li>
                <li><strong>Responsabilidad:</strong> Asumimos la responsabilidad en cada uno de nuestros proyectos, con un enfoque en resultados sostenibles.</li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="/home" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>
<app-footer></app-footer>