<footer class="container py-5">
    <div class="row text-center">
        <!-- Copyright -->
        <div class="col-12 col-md-4 mb-4">
            <small class="d-block text-muted">&copy; 2017–2025 YoVoy Control"</small>
        </div>
        <!-- About Section -->
        <div class="col-12 col-md-4 mb-4">
            <h5>Nosotros</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-decoration-none" href="../contactanos/contactanos.html">Localizacion</a></li>
                <li><a class="text-decoration-none" href="../privacidad/privacidad.html">Privacidad</a></li>
                <li><a class="text-decoration-none" href="../terminos_y_condiciones/terminos_y_condiciones.html">Terminos</a></li>
            </ul>
        </div>
        <!-- Social Media -->
        <div class="col-12 col-md-4">
            <h5>Siguenos</h5>
            <div class="d-flex justify-content-center gap-3">
                <a href="#" class="text-muted text-decoration-none" target="_blank">
                    <i class="bi bi-facebook fs-4"></i>
                </a>
                <a href="#" class="text-muted text-decoration-none" target="_blank">
                    <i class="bi bi-twitter fs-4"></i>
                </a>
                <a href="#" class="text-muted text-decoration-none" target="_blank">
                    <i class="bi bi-instagram fs-4"></i>
                </a>
                <a href="#" class="text-muted text-decoration-none" target="_blank">
                    <i class="bi bi-linkedin fs-4"></i>
                </a>
            </div>
        </div>
    </div>
    </footer>